services:
  app:
    build: .
    ports:
      - "3000:3000"

  dev:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - .:/app
    command: sh
    stdin_open: true
    tty: true

  test:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: go test -v ./...
